.demoContainer {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.demoMainHeader {
  text-align: center;
  padding: 10px;
}

.demoGrid {
  display: grid;
  flex: 1;
  grid-template-columns: repeat(2, minmax(200px, 50%));
  grid-gap: 20px;
  background-color: transparent;
  padding: 10px;
  overflow-y: auto;
}

.demoShadow {
  box-shadow: 0 0 10px grey;
}

.demoInnerContainer {
  border: 1px solid lightgrey;
  border-radius: 4px;
  padding: 15px;
  margin-top: 15px;
  max-width: 100%;
}

.demoThemeHeader {
  text-align: center;
}

.demoSectionContainer {
  margin: 20px 0;
}