$grey-0: #ffffff;
$grey-2-5: #f9f9f9; // 2.5%
$grey-5: #f2f2f2;
$grey-7-5: #ececec; // 7.5%
$grey-10: #e6e6e6;
$grey-15: #d9d9d9;
$grey-20: #cccccc;
$grey-25: #bfbfbf;
$grey-30: #b3b3b3;
$grey-35: #a6a6a6;
$grey-40: #999999;
$grey-45: #8c8c8c;
$grey-50: #808080;
$grey-55: #737373;
$grey-60: #666666;
$grey-65: #595959;
$grey-70: #4d4d4d;
$grey-75: #404040;
$grey-80: #333333;
$grey-85: #262626;
$grey-90: #191919;
$grey-95: #0d0d0d;
$grey-100: #000000;

$primary-lighter: #f1faf0;
$primary-light: #99d5b0;
$primary-regular: #009639;
$primary-dark: #046a38;
$primary-darkest: #004a1c;

$secondary-blue-light: #aecaeb;
$secondary-blue: #4a90e2;

$secondary-link-blue: #288dc8;
$secondary-link-blue-dark: #125f89;

$secondary-green-light: #c2e49e;
$secondary-green: #7ed321;

$secondary-orange-light: #f8d9bb;
$secondary-orange: #ed9f55;
$secondary-orange-dark: #db842c; //ToDo: Temp added color. Apparently will be removed later.

$secondary-red-lighter: #ffebeb;
$secondary-red-light: #e68491;
$secondary-red-regular: #ce0a24;
$secondary-red-dark: #9a071a;
$secondary-red-darkest: #660411;

$grid-odd-rows: #f9fcfd;
